{% extends 'base.html.twig' %}

{% block title %}{{ 'debenture.total_payment'|trans }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">

            <h1>
                {{ 'debenture.total_payment'|trans }}
            </h1>
            <br>
            <div class="btn_panel">
                <a href="{{ path('debenture_index') }}" class="btn btn-success">
                    {{ 'common.back'|trans }}
                </a>
            </div>
            {% if paymentsGroupCurrency %}
            <div class="alert alert-info top-alert" role="alert">
                <i class="mdi mdi-information"></i>
                <span>{{ 'debenture.total_currency'|trans }}</span>
                <table class="table small-table">
                    <tbody class="not-border">
                    {% for item in paymentsGroupCurrency %}
                        <tr>
                            <td>{{ item.currency }}:</td>
                            <td>{{ item.payment }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{ 'debenture.name'|trans }}</th>
                    <th>{{ 'debenture.payment'|trans }}</th>
                    <th>{{ 'debenture.currency'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for payment in payments %}
                    <tr>
                        <td>{{ payment.name }}</td>
                        <td>{{ payment.payment }}</td>
                        <td>{{ payment.currency }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}
