{% block checkbox_widget %}
    {% spaceless %}
        <div class="checkbox">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}
            {% if checked %} checked="checked"{% endif %} />
            <label  for="{{ id }}">{{ label|trans }}</label>
        </div>
    {% endspaceless %}
{% endblock checkbox_widget %}