{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-danger top-alert" role="alert">
                {% for error in errors %}
                    <i class="mdi mdi-block-helper"></i>
                    <span>{{ error.message }}</span>
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}