{% extends 'base.html.twig' %}

{% block title %}{{ 'revenue.title'|trans }}{% endblock %}

{% block content %}
    {% include 'partials/delete.html.twig' %}
    <div class="content">
        <div class="container">
            {% include 'partials/flash_message.html.twig' %}
            <h1>
                {{ 'revenue.title'|trans }}
            </h1>
            <br>
            <div class="btn_panel">
                <a href="{% if partner is defined and partner %}{{ path('partner_revenue_new', {'id':partner.id}) }}{% else %}{{ path('revenue_new') }}{% endif %}" class="btn btn-success">
                    {{ 'common.add'|trans }}
                </a>
                {% if partner is defined and partner %}
                    <a href="{{ path('partner_bill_new', {'id':partner.id}) }}" class="btn btn-default">
                        {{ 'bill.title'|trans }}
                    </a>
                    <a href="{{ path('currency_index') }}" class="btn btn-default right">
                        {{ 'currency.title'|trans }}
                    </a>
                    <a href="{{ path('bill_type_index') }}" class="btn btn-default margin-right right">
                        {{ 'category.title'|trans }}
                    </a>
                {% else %}
                    <a href="{{ path('revenue_bills_by_month') }}" class="btn btn-success right">
                        {{ 'bill.stats_by_month'|trans }}
                    </a>
                {% endif %}
            </div>
            <div class="filter-body">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'common.filter'|trans }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(filter) }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_label(filter.type) }}
                                {{ form_widget(filter.type) }}
                                {{ form_errors(filter.type) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(filter.billType) }}
                                {{ form_widget(filter.billType) }}
                                {{ form_errors(filter.billType) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_label(filter.currency) }}
                                {{ form_widget(filter.currency) }}
                                {{ form_errors(filter.currency) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(filter.createdAt.left_date) }}
                                {{ form_widget(filter.createdAt.left_date) }}
                                {{ form_errors(filter.createdAt.left_date) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(filter.createdAt.right_date) }}
                                {{ form_widget(filter.createdAt.right_date) }}
                                {{ form_errors(filter.createdAt.right_date) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_label(filter.hashtag) }}
                                {{ form_widget(filter.hashtag) }}
                                {{ form_errors(filter.hashtag) }}
                            </div>
                        </div>
                        <div class="col-sm-5 button-filter">
                            <button id="clear-form" type="button" class="btn btn-default">
                                {{ 'common.clear'|trans}}</button>
                            <input type="submit" value="{{ 'common.search'|trans }}" class="btn btn-info">
                        </div>
                        {{ form_end(filter) }}
                    </div>
                </div>
            </div>
            {% if totalSum %}
                <div class="alert alert-info top-alert" role="alert">
                    <i class="mdi mdi-information"></i>
                    <span>{{ 'common.total'|trans }}</span>
                    <table class="table small-table">
                        <tbody class="not-border">
                        {% for item in totalSum %}
                            <tr>
                                <td>{{ item.currency }}:</td>
                                <td>{{ item.payment }}</td>
                            </tr>
                        {% endfor %}
                        {% if sum > 0 %}
                            <tr>
                                <td>{{ 'common.total_convertor'|trans }}:</td>
                                <td>{{ sum }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ 'revenue.created_at'|trans }}</th>
                        <th>{{ 'revenue.date_operation'|trans }}</th>
                        <th>{{ 'revenue.payment'|trans }}</th>
                        <th>{{ 'revenue.currency'|trans }}</th>
                        <th>{{ 'revenue.type'|trans }}</th>
                        <th>{{ 'revenue.bill_type'|trans }}</th>
                        <th>{{ 'revenue.payment_type'|trans }}</th>
                        <th>{{ 'revenue.name'|trans }}</th>
                        <th>{{ 'revenue.hashtag'|trans }}</th>
                        <th class="actions_cell">{{ 'common.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% set partnerId = '' %}
                {% if partner is defined and partner %}
                    {% set partnerId = partner.id %}
                {% endif %}
                {% for revenue in pagination %}
                    <tr>
                        <td {% if revenue.comment %} title="{{ revenue.comment }}" {% endif %}>
                            {{ revenue.createdAt|date('d.m.Y') }}
                        </td>
                        <td>
                            {% if revenue.dateOperation %}
                                {{ revenue.dateOperation|date('d.m.Y') }}
                            {% endif %}
                        </td>
                        <td>{{ revenue.payment }}</td>
                        <td>{{ revenue.currency }}</td>
                        <td>{{ revenue.type }}</td>
                        <td>{{ revenue.billType }}</td>

                        <td>{{ revenue.paymentType }}</td>
                        <td>{{ revenue.name }}</td>
                        <td>{{ revenue.hashtag }}</td>
                        <td class="actions_cell">
                            <a href="{{ path('revenue_edit', {'id': revenue.id, 'partnerId': partnerId}) }}">
                                <i class="glyphicon glyphicon-pencil" title="{{ 'common.edit'|trans }}"></i>
                            </a>
                            <span
                                    class="delete_entity"
                                    data-delete-link="{{ path('revenue_delete', {'id': revenue.id, 'partnerId': partnerId}) }}"
                                    data-toggle="modal"
                                    data-target="#entity_delete"
                                    role="button"
                            >
                                    <i class="glyphicon glyphicon-trash"
                                       title="{{ 'common.delete'|trans }}"></i>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="center-inside">
                <nav class="pagination_container">
                    {{ knp_pagination_render(pagination) }}
                </nav>
            </div>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            AppProject.loadEntityDeleteListener($('.delete_entity'), $('#delete_entity_form'));
            AppProject.loadResetFormListener($('#clear-form'), $('form[name="{{ filter.vars.name }}"]'));

            AppProject.changesSelectDataByParentSelect(
                '{{ filter.billType.vars.id }}',
                '{{ filter.type.vars.id }}',
                '{{ path('bill_type_get_bill_types') }}'
            );

            $('.form-horizontal').on('submit', function () {
                $('input').prop('disabled', false);
                $('select').prop('disabled', false);
            });
        });
    </script>
{% endblock %}
