{% extends 'base.html.twig' %}
{% block title %}{% trans %}dashboard.title{% endtrans %}{% endblock %}

{% block content %}
<div class="content">
    <div class="container">
        <h1>{% trans %}dashboard.title{% endtrans %}</h1>
        <br>
        {% import 'elements/print_tree.html.twig' as helper %}
        {{ helper.printTreeElements(tree) }}
    </div>
    <!--  Modal content for the above example -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myLargeModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info top-alert" role="alert">
                        <i class="mdi mdi-information"></i>
                        <span id="count-employees">{{ 'employee.message_count'|trans }}</span>
                        <span id="salary-employees">{{ 'employee.message_salary'|trans }}</span>
                    </div>
                    <div>
                        <div class="windows8">
                            <div class="wBall" id="wBall_1">
                                <div class="wInnerBall"></div>
                            </div>
                            <div class="wBall" id="wBall_2">
                                <div class="wInnerBall"></div>
                            </div>
                            <div class="wBall" id="wBall_3">
                                <div class="wInnerBall"></div>
                            </div>
                            <div class="wBall" id="wBall_4">
                                <div class="wInnerBall"></div>
                            </div>
                            <div class="wBall" id="wBall_5">
                                <div class="wInnerBall"></div>
                            </div>
                        </div>
                        <table id="employee-data" class="table table-hover">
                            <thead>
                            <th>{{ 'employee.name'|trans }}</th>
                            <th>{{ 'employee.function_table'|trans }}</th>
                            <th>{{ 'bill.currency'|trans }}</th>
                            <th>{{ 'employee.salary'|trans }}</th>
                            <th>{{ 'employee.date_employment'|trans }}</th>
                            </thead>
                            <tbody id="table-about-employees"></tbody>
                        </table>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $('.show-window').on('click', function () {
                var departmentId = $(this).attr('data-department');
                var departmentName = $(this).attr('data-department-name');

                if (departmentId) {
                    $('.windows8').show();
                    $('#employee-data').hide();
                    $('#table-about-employees').children().remove();

                    $.ajax({
                        url: '{{ path('department_get_info') }}',
                        data: {
                            department_id:  departmentId
                        },
                        type: "POST",
                        dataType: 'json',
                        success: function (data) {
                            $('#myLargeModalLabel').text(departmentName);
                            var html = '';
                            var amountEmployees = 0;
                            var department = data['departmentInfo'];

                            for(var i in department) {
                                html += '<tr>';
                                html += '<td>' + department[i]['surname'] + ' ' + department[i]['name'] + '</td>';
                                html += '<td>' + department[i]['functionName'] + '</td>';
                                html += '<td>' + department[i]['currency'] + '</td>';
                                html += '<td>' + department[i]['salary'] + '</td>';

                                if (department[i]['dateEmployment']) {
                                    var date = department[i]['dateEmployment']['date'].split('-');
                                    var day = date[2].split(' ');
                                    html += '<td>' + day[0]+ '.' + date[1] + '.' + date[0] + '</td>';
                                }

                                html += '</tr>';

                                ++amountEmployees;
                            }
                            $(html).appendTo('#table-about-employees');
                            $('#count-employees').text('{% trans %}employee.message_count{% endtrans %} ' + amountEmployees);
                            $('#salary-employees').text('{% trans %}employee.message_salary{% endtrans %} ' + data['sum']);
                            $('#employee-data').show();
                            $('.windows8').hide();
                        },
                        error: function () {
                            alert('{% trans %}common.error500{% endtrans %}')
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}