{% extends 'base.html.twig' %}
{% block content %}

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">

                    <div class="wrapper-page">
                        <img src="/images/animat-customize-color.gif" alt="" height="120">
                        <h1 style="font-size: 78px;">500</h1>
                        <h3 class="text-uppercase text-danger">{% trans %}common.server_error{% endtrans %}</h3>
                        <a class="btn btn-success waves-effect waves-light m-t-20" href="{{ path('dashboard') }}">
                            {% trans %}common.in_main_page{% endtrans %}
                        </a>
                    </div>

                </div>
            </div>


        </div> <!-- container -->

    </div> <!-- content -->


{% endblock %}