{% extends 'base.html.twig' %}

{% block title %}{% trans %}employee.title{% endtrans %}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <h1>
                {% trans %}employee.archive{% endtrans %}
            </h1>
            <div class="btn_panel">
                <a href="{{ path('employee_index') }}" class="btn btn-info">
                    {% trans %}common.back{% endtrans %}
                </a>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{% trans %}employee.name{% endtrans %}</th>
                    <th>{% trans %}employee.function_table{% endtrans %}</th>
                    <th>{% trans %}employee.department{% endtrans %}</th>
                    <th>{% trans %}employee.salary{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for employee in archiveEmployees %}
                    <tr>
                        <td>{{ employee.__toString }}</td>
                        <td>
                            {% if employee.getFunctionTable %}
                                {{ employee.getFunctionTable.getName }}
                            {% endif %}
                        </td>
                        <td>
                            {% if employee.getFunctionTable %}
                                {{ employee.getFunctionTable.getDepartment.__toString }}
                            {% endif %}
                        </td>
                        <td>{{ employee.salary }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}
