<div id="entity_confirm" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="{{ 'common.close_modal'|trans }}">
                    &times;
                </button>
                <h4 class="modal-title">{{ 'common.confirm_action'|trans }}</h4>
            </div>
            <div class="modal-body">
                <form id="confirm_entity_form" action="" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <input
                            class="btn btn-default btn-danger"
                            type="submit"
                            value="{{ 'common.yes'|trans }}"
                    >
                </form>
            </div>
        </div>
    </div>
</div>