<div id="entity_delete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span class="sr-only">{% trans %}common.close_modal{% endtrans %}</span>
                    &times;
                </button>
                <h4 class="modal-title">{% trans %}common.confirm_delete{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                <form id="delete_entity_form" action="" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete') }}">
                    <input
                            class="btn btn-default btn-danger"
                            type="submit"
                            value="{% trans %}common.yes{% endtrans %}"
                    >
                </form>
            </div>
        </div>
    </div>
</div>