{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success top-alert" role="alert">
        <i class="mdi mdi-check-all"></i>
        <span>{{ flashMessage }}</span>
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('danger') %}
    <div class="alert alert-danger top-alert" role="alert">
        <i class="mdi mdi-block-helper"></i>
        <span>{{ flashMessage }}</span>
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-info top-alert" role="alert">
        <i class="mdi mdi-information"></i>
        <span>{{ flashMessage }}</span>
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning top-alert" role="alert">
        <i class="mdi mdi-alert"></i>
        <span>{{ flashMessage }}</span>
    </div>
{% endfor %}