{% extends 'base.html.twig' %}

{% set title %}
    {% if action == 'new' %}
        {{ 'currency.add'|trans }}
    {% elseif action == 'edit' %}
        {{ 'currency.edit'|trans }}
    {% else %}
        {{ 'common.error'|trans }}
    {% endif %}
{% endset %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content">
    <div class="container">
        <h1>{{ title }}</h1>
        <div class="alert alert-info">
            <p>{{ 'currency.type'|trans }}</p>
        </div>
        <a href="http://index.minfin.com.ua/code/" target="_blank">{{ 'currency.code_name'|trans }}</a>

        <div class="btn_panel">
            <br>
            <a href="{{ path('currency_index') }}" class="btn btn-primary">
                {{ 'common.back'|trans }}
            </a>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                <input
                        type="submit"
                        value="{{ 'common.save'|trans }}"
                        class="btn btn-default pull-right"
                >
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
