{% extends 'base.html.twig' %}

{% block title %}{{ 'currency.title'|trans }}{% endblock %}

{% block content %}
    {% include 'partials/delete.html.twig' %}
    <div class="content">
        <div class="container">
            {% include 'partials/flash_message.html.twig' %}
            <h1>
                {{ 'currency.title'|trans }}
            </h1>
            <br>
            <div class="btn_panel">
                <a href="{{ path('currency_new') }}" class="btn btn-success">
                    {{ 'common.add'|trans }}
                </a>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ 'currency.name'|trans }}</th>
                        <th>{{ 'currency.code'|trans }}</th>
                        <th class="actions_cell">{{ 'common.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for currency in pagination %}
                    <tr>
                        <td>{{ currency.name }}</td>
                        <td>{{ currency.code }}</td>
                        <td class="actions_cell">
                            <a href="{{ path('currency_lock', {'id': currency.getId}) }}">
                                <i class="glyphicon glyphicon-pushpin" title="{{ 'common.lock'|trans }}"></i>
                            </a>
                            <a href="{{ path('currency_edit', {'id': currency.getId}) }}">
                                <i class="glyphicon glyphicon-pencil" title="{{ 'common.edit'|trans }}"></i>
                            </a>
                            <span
                                    class="delete_entity"
                                    data-delete-link="{{ path('currency_delete', {'id': currency.getId}) }}"
                                    data-toggle="modal"
                                    data-target="#entity_delete"
                                    role="button"
                            >
                                    <i class="glyphicon glyphicon-trash"
                                       title="{{ 'common.delete'|trans }}"></i>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="center-inside">
                <nav class="pagination_container">
                    {{ knp_pagination_render(pagination) }}
                </nav>
            </div>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            AppProject.loadEntityDeleteListener($('.delete_entity'), $('#delete_entity_form'));
        });
    </script>
{% endblock %}
