{% extends 'base.html.twig' %}

{% block title %}{{ 'partner.option_title'|trans }}{% endblock %}

{% block content %}
    {% include 'partials/delete.html.twig' %}
    <div class="content">
        <div class="container">
            {% include 'partials/flash_message.html.twig' %}
            <h1>
                {{ 'partner.title'|trans }}
            </h1>
            <br>
            <div class="btn_panel">
                <a href="{{ path('bookkeeping_partner_new') }}" class="btn btn-success">
                    {{ 'common.add'|trans }}
                </a>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ 'partner.name'|trans }}</th>
                        <th>{{ 'partner.user'|trans }}</th>
                        <th class="actions_cell">{{ 'common.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for partner in pagination %}
                    <tr>
                        <td>{{ partner.name }}</td>
                        <td>{% if partner.user %}
                                {{ partner.user.username }}
                            {% endif %}
                        </td>
                        <td class="actions_cell">
                            <a href="{{ path('bookkeeping_partner_edit', {'id': partner.getId}) }}">
                                <i class="glyphicon glyphicon-pencil" title="{{ 'common.edit'|trans }}"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="center-inside">
                <nav class="pagination_container">
                    {{ knp_pagination_render(pagination) }}
                </nav>
            </div>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            AppProject.loadEntityDeleteListener($('.delete_entity'), $('#delete_entity_form'));
        });
    </script>
{% endblock %}
