{% extends 'base.html.twig' %}

{% set title %}
    {% if action == 'new' %}
        {% trans %}user.add{% endtrans %}
    {% elseif action == 'edit' %}
        {% trans %}user.edit{% endtrans %}
    {% else %}
        {% trans %}common.error{% endtrans %}
    {% endif %}
{% endset %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <h1>{{ title }} {% if user is defined and user is not null %}{{ user.username }}{% endif %}</h1>

            <div class="btn_panel">
                <a href="{{ path('users_index') }}" class="btn btn-primary">
                    {% trans %}common.back{% endtrans %}
                </a>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {% if action == 'edit' %}
                            {{ form_row(form.password) }}
                            <div class="col-lg-12">
                                <button class="btn btn-default right" type="button" id="change-password">
                                    {% trans %}common.edit{% endtrans %}
                                </button>
                            </div>
                            {{ form_widget(form) }}
                        {% else %}
                            {{ form_widget(form) }}
                        {% endif %}

                        <input
                                type="submit"
                                value="{% trans %}common.save{% endtrans %}"
                                class="btn btn-default pull-right"
                        >
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {% if action == 'edit' %}
        <script>
            jQuery(document).ready(function () {
                $('#{{ form.password.vars.id }}').prop('disabled', true);

                $('#change-password').on('click', function () {
                    $password = $('#{{ form.password.vars.id }}');
                    if ($password.is(':disabled')) {
                        $password.prop('disabled', false);
                    } else {
                        $password.prop('disabled', true);
                    }

                });
            });
        </script>
    {% endif %}
{% endblock %}
