{% extends 'base.html.twig' %}

{% block title %}{% trans %}user.title{% endtrans %}{% endblock %}

{% block content %}
    {% include 'partials/delete.html.twig' %}
    <div class="content">
        <div class="container">
            {% include 'partials/flash_message.html.twig' %}
            <h1>
                {% trans %}user.title{% endtrans %}
            </h1>
            <br>
            <div class="btn_panel">
                <a href="{{ path('users_new') }}" class="btn btn-success">
                    {% trans %}common.add{% endtrans %}
                </a>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{% trans %}user.username{% endtrans %}</th>
                    <th>{% trans %}user.roles{% endtrans %}</th>
                    <th>{% trans %}user.enabled{% endtrans %}</th>
                    <th class="actions_cell">{% trans %}common.actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in pagination %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>
                            {% if user.getRoles %}
                                {% for role in user.getRoles %}
                                    {{ role }}<br>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            {% if user.isEnabled %}
                                <span class="success">{% trans %}common.yes{% endtrans %}</span>
                            {% else %}
                                <span class="danger">{% trans %}common.no{% endtrans %}</span>
                            {% endif %}
                        </td>
                        <td class="actions_cell">
                            <a href="{{ path('users_edit', {'id': user.getId}) }}">
                                <i class="glyphicon glyphicon-pencil" title="{% trans %}common.edit{% endtrans %}"></i>
                            </a>
                            <a href="{{ path('users_enabled', {'id': user.getId}) }}">
                                <i class="glyphicon glyphicon-pushpin" title="{% trans %}common.active_unactive{% endtrans %}"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="center-inside">
                <nav class="pagination_container">
                    {{ knp_pagination_render(pagination) }}
                </nav>
            </div>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}
