{% extends 'base.html.twig' %}
{% block title %}Rich Peach - Responsive Admin Dashboard Template{% endblock %}

{% block content %}
<!-- Start content -->
<div class="content">
    <div class="container">
        <br>
        <h1>{{ 'dashboard.rich_peach'|trans }}</h1>
    </div> <!-- container -->

</div> <!-- content -->
{% endblock %}