{% extends 'base.html.twig' %}

{% set title %}
    {% if action == 'new' %}
        {% trans %}department.add{% endtrans %}
    {% elseif action == 'edit' %}
        {% trans %}department.edit{% endtrans %}
    {% else %}
        {% trans %}common.error{% endtrans %}
    {% endif %}
{% endset %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content">
    <div class="container">
        <h1>{{ title }}</h1>

        <div class="btn_panel">
            <a href="{{ path('department_index') }}" class="btn btn-primary">
                {% trans %}common.back{% endtrans %}
            </a>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.employee) }}
                    {{ form_row(form.parent) }}
                    {{ form_row(form.enabled) }}
                <input
                        type="submit"
                        value="{% trans %}common.save{% endtrans %}"
                        class="btn btn-default pull-right"
                >
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
