{% extends 'base.html.twig' %}

{% block title %}{{ 'bill.stats_by_month'|trans }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            {% include 'partials/flash_message.html.twig' %}
            <h1>
                {{ 'bill.stats_by_month'|trans }}
            </h1>
            <br>
            <div class="btn_panel">
                {% if type is defined and type == 'revenues' %}
                    <a href="{{ path('revenue_index') }}" class="btn btn-success">
                        {{ 'common.back'|trans }}
                    </a>
                {% else  %}
                    <a href="{{ path('bill_index') }}" class="btn btn-success">
                        {{ 'common.back'|trans }}
                    </a>
                {% endif %}
            </div>
            <div class="filter-body">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'common.filter'|trans }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(filter) }}
                        <div class="row">
                            <div class="col-md-10">
                                {{ form_widget(filter.currency) }}
                                {{ form_errors(filter.currency) }}
                            </div>
                            <div class="col-sm-2">
                                <input type="submit" value="{{ 'common.converter'|trans }}" class="btn btn-info right">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_label(filter.dateFrom) }}
                                {{ form_widget(filter.dateFrom) }}
                                {{ form_errors(filter.dateFrom) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(filter.dateTo) }}
                                {{ form_widget(filter.dateTo) }}
                                {{ form_errors(filter.dateTo) }}
                            </div>
                        </div>
                        <div class="col-sm-5 button-filter">
                            <button id="clear-form" type="button" class="btn btn-default">
                                {{ 'common.clear'|trans}}</button>
                            <input type="submit" value="{{ 'common.search'|trans }}" class="btn btn-info">
                        </div>
                        {{ form_end(filter) }}
                    </div>
                </div>
            </div>
            {% if totalSum %}
                <div class="alert alert-info top-alert" role="alert">
                    <i class="mdi mdi-information"></i>
                    <span>{{ 'common.total'|trans }}</span>
                    <table class="table small-table">
                        <tbody class="not-border">
                        {% for item in totalSum %}
                            <tr>
                                <td>{{ item.currency }}:</td>
                                <td>{{ item.payment }}</td>
                            </tr>
                        {% endfor %}
                        {% if sum > 0 %}
                            <tr>
                                <td>{{ 'common.total_convertor'|trans }}:</td>
                                <td>{{ sum }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{ 'bill.date'|trans }}</th>
                    <th>{{ 'bill.currency'|trans }}</th>
                    <th>{{ 'bill.incoming'|trans }}</th>
                    <th>{{ 'bill.loss'|trans }}</th>
                    <th>{{ 'bill.total'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for bill in billsByYear %}
                    <tr>
                        <td>
                            {% if bill.date %}
                                {{ bill.date|date('m.Y') }}
                            {% endif %}
                        </td>
                        <td>{{ bill.currency }}</td>
                        <td>{{ bill.positives_sum }}</td>
                        <td>{{ bill.negative_sum }}</td>
                        <td>{% set total = bill.positives_sum - bill.negative_sum %}
                            <span {% if total > 0 %}class="success"{% else %}class="danger"{% endif %}>
                                {{ total }}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> <!-- container -->
    </div> <!-- content -->
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            AppProject.loadResetFormListener($('#clear-form'), $('form[name="{{ filter.vars.name }}"]'));
        });
    </script>
{% endblock %}